/* html{
    background-image: url(assets/corkBoard-Backgound.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
} */


#containerDiv {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid Oblack;
    margin: 10px;
    padding: 15px;
    width:
    160px;
    height:
    200px;
    position: relative;
    border: black solid;
}

.card > span {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer; 
}