html{
    background-image: url(assets/corkBoard-Backgound.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}


#containerDiv {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    padding: 15px;
    width:100px;
    height:160px;
    position: relative;
    background-image: url('assets/PostIt.png');
    background-size: cover;         
    background-repeat: no-repeat;   
    background-position: center;    
}

.card > span {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer; 
    margin-top: 25px;
}

.taskDiv{
    margin-top: 30px;
    border: solid black;
    width: 100px;
    height: 70px;
}
.timeDiv{
    margin-top: 50px   ;
    font-size: small;
}

h1{
    text-align: center;
}

form{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
